@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300");
body {
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #222;
  max-width: 40rem;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: auto;
  background: #fafafa;
}
img {
  max-width: 100%;
}
a {
  color: #2e92cc;
}
h1,
h2,
strong {
  color: #111;
}
h3 {
  a {
    text-decoration: none;
  }
}
.header {
  display: inline-block;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  font-size: small;
  text-align: center;
}
.header h1 {
  color: #fafafa;
  display: inline-block;
  margin: 0;
}
.header h2 {
  display: inline-block;
  margin: 5px;
}
.header i {
  position: fixed;
  left: 15px;
  top: 15px;
  font-size: 2em;
  margin: 0;
}
.lessmargintop {
  margin-top: 0;
}
.lessmarginbottom {
  margin-bottom: 0;
}
.externlink {
  color: #e47b30;
  text-decoration: none;
  transition: all 0.5s;
}
.externlink:hover {
  color: #c13e20;
}
.internlink {
  color: #2ecbef;
  text-decoration: none;
  transition: all 0.5s;
}
.internlink:hover {
  color: #0087d6;
}
.contact ul {
  list-style: none;
  padding: 0;
}
.contact ul li {
  text-align: center;
  font-size: 1.3em;
  display: inline;
  width: 25%;
  float: left;
  margin: auto;
  transition: all 0.5s ease 0s;
  border-bottom: #2220 solid 2px;
}
.contact ul li:hover {
  border-bottom: #222 solid 2px;
}
.illustration {
  display: block;
  margin: auto;
}
.legend {
  font-size: small;
  margin: auto;
  margin-top: 8px;
  text-align: center;
}

.movie {
  display: flex;
}
.movie img {
  margin-right: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
  height: fit-content;
  height: -moz-fit-content;
  flex-shrink: 0;
}
.movietext h2 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.movietext em {
  font-size: 1.05em;
}
.movietext p {
  margin: 0px;
}
.sources {
  line-height: 1em;
}
.sources h5 {
  margin: 0;
}
.sources a {
  font-size: 0.8em;
}
.gallery {
  text-align: center;
}
.gallery img {
  display: inline-block;
  margin: auto;
  width: 49%;
}
.gallery video {
  width: 40%;
}
