@use '../../styles/interactive' as *;

.arrangements {
  .input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .input {
      font-size: 32px;
      font-family: "KaTeX_Main", "Times New Roman", serif;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      align-content: center;
      margin: 0 15px 24px 15px;

      p {
        margin: 0 10px;
      }

      button {
        @include interactive-button;
        height: 32px;
        margin: 0 4px;
        font-size: 16px;
        padding: 0 10px;
      }

      input {
        width: 80px;
        font-size: 32px;
        font-family: "KaTeX_Main", "Times New Roman", serif;
      }
    }
  }
}

.katex-display > .katex {
  white-space: normal;
}
/* Add space between broken lines: */
.katex-display > .base {
  margin: 0.25em 0;
}
/* Compensate by reducing space around display math */
.katex-display {
  margin: 0.5em 0;
}

.configurations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  .choices-container {
    margin: 20px;

    .choices {
      text-align: center;
      font-family: "Barlow", sans-serif;

      .text   { width: 60px; }
      .number { font-size: medium; width: 80px; }

      .firstLine {
        @include first-line;
        font-weight: bold;
        display: flex;
      }

      .lastLine {
        margin-top: 10px;

        button {
          @include add-button;
          width: 100%;
        }
      }

      .choice {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        border-bottom: 1px solid $border;
        margin-bottom: 10px;
        padding-bottom: 5px;

        input {
          @include input-base;
          width: 50px;
          margin: 0 16px;
        }

        .remove {
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            @include remove-button;
          }
        }
      }
    }
  }

  .math {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pointDistribute {
  display: flex;
  justify-content: center;

  .options {
    font-family: "Barlow", sans-serif;

    .firstLine {
      @include first-line;
      font-weight: bold;
    }

    .option {
      font-size: 28px;
      display: flex;
      align-items: center;

      .text {
        width: 50px;
        text-align: center;
        margin: 0 5px;
      }

      button {
        @include interactive-button;
        font-size: 20px;
        width: 32px;
        height: 32px;
        padding: 0;
      }
    }
  }
}
