$height: 36px;

.switch {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 1.5px solid var(--color);
  margin-bottom: 32px;

  .switch-radio {
    display: none;
  }

  .switch-container {
    flex: 1;
  }

  .switch-selection {
    display: block;
    position: absolute;
    bottom: -2px;
    height: 3px;
    background: var(--color);
    transition: left 0.25s ease-out;
  }

  .switch-label {
    font-size: 12px;
    color: var(--color);
    text-align: center;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.15s ease-out;
    user-select: none;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .switch-radio:checked + .switch-label {
    opacity: 1;
  }
}
