$height: 40px;
$width: 100%;

.switch {
  position: relative;
  height: $height;
  width: $width;
  background-color: rgb(34, 34, 34);
  margin-bottom: 32px;

  .switch-radio {
    display: none;
  }

  .switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: $height;
    background: rgb(245, 245, 245);
    transition: left 0.25s ease-out;
  }

  .switch-label {
    position: relative;
    z-index: 2;
    float: left;
    line-height: $height;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.15s ease-out;
  }

  .switch-radio:checked + .switch-label {
    color: #1d1d1d;
  }
}
